<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TwitterConsumerKey" value="laPH1piFLlAsnaOLMyC7T4idx" />
    <add key="TwitterConsumerSecret" value="4hT7IaCtG4Qv8U1vggstttg9U3qLCMhWHKAgj7Sh0vm4gACiUy" />
    <add key="oauthToken" value="" />
    <add key="oauthTokenSecret" value="" />
    <add key="TwitterAccessToken" value="1166169861376159744-Z5Jkc1vBTigSRnElm21E9IjMdi1lC8" />
    <add key="TwitterAccessTokenSecret" value="njIjdoGfA5xgZ7gH42s2NmmYkSRYcuV8OrHfolw7skli4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=DESKTOP-AN4MSQE\SQLEXPRESS;Database=TweetDataWarehouse;Trusted_Connection=Yes"/>
  </connectionStrings>
</configuration>